/* =========================================
 VARIABLES DE COLOR (IDENTIDAD EMPESARIAL)
========================================= */
:root {
    --hirata-azul-oscuro: #002B5B;
    --hirata-azul-claro: #2B4865;
    --hirata-naranja: #f76c02;
    --hirata-azul-oscuro-rgb: 0, 43, 91;
    --hirata-azul-claro-rgb: 43, 72, 101;
    --hirata-naranja-rgb: 247, 108, 2;
    --fondo-app: #F5F7FA;
    --borde-radio: 12px;
}